.hidden {
    display: none;
}

body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    margin-left: 50px;
}

object {
    width: 200px;
    margin-left: 20px;
}

#orange:hover {
    animation: spin 3s ease;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#instagram:hover {
    transition: all 1.5s ease;
    fill: red;
}

#star:hover {
    transition: all 1.5s ease;
    transform: rotateY(360deg);
}