body {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1, h2 {
    margin-left: 50px;
}

h1 {
    margin-bottom: 0;
}

h2 {
    margin-top: 10px;
}

object {
    width: 200px;
    margin-left: 20px;
}