.hidden {
    display: none;
}

object {
    width: 200px;
}

#greytext {
    transition: all 0.5s ease;
    transform-origin: center;
}

#badge:hover #bgcircle {
    fill: orange;
    transition: all 0.5s ease;
}

#badge:hover #greytext {
    fill: white;
    transform: rotate(130deg);
}